.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  top: 17vh;
  left: 35vw;
}

.base-circle {
  fill: none;
  stroke: #e0e0e0; /* light grey background */
}

.income-circle {
  fill: none;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.expense-circle {
  fill: none;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}